.container_img {
  width: 100%;
  height: 100%;
  /* border: 1px solid gray; */
  padding: 10px 10px;
  position: relative;
  overflow-y: scroll;
  border-radius: 10px;
}

.img_item {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
}


.img_item_box {
  z-index: 10;
}

.img_active {
  z-index: 9999;
  position: absolute;
  width: 95%;
  left: 2.5%;
  right: 2.5%; 
  



}
.container_profile_img {
  padding: 0 0 20px 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  /* background: rgba(0, 0, 0, 0.8); */
  background: rgba(35, 38, 39, 0.8);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  overflow-y: scroll;
  transform: translateY(-100%);
  transition: .5s;
}


.profile_img {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-shadow: 7px 14px 10px rgb(0, 0, 0, 0.4);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}



.profile_actions_box {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px auto;
  border-radius: 10px;
}

.profile_link {
  font-size: 36px;
  color: rgba(128, 128, 128, 0.4);
  margin-right: 10px;
}

.container_btnFilters {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.btnFilters_ico {
  color: rgba(255, 255, 255, 0.5);
}
.container_filters {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  transform: translateY(100%);
  transition: .4s;
}

.container_filters-text {
  margin: 5px 0 5px 0;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* ----- TAG CLOUD CONTAINER ----- */
.container_filters-fiters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* ----- TAG CLOUD ITEMS ----- */
.tag-item {
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 50px;
}

.clicked {
  background-color: #316A85;
  border: 1px solid #316A85;
}

.fiters_box {
  margin-top: 15px;
}

.open {
  transform: translateY(0);
}



.btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px;
  width: 120px;
}



/* CONTAINER TAGS */

.container_filters-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.btn-reset, .btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 40px;
}

.btn-close {
  border: 1px solid rgb(170, 170, 68);
}

.btn-reset {
  border: 1px solid rgb(143, 61, 61);
  margin-right: 25px;
}


.btnFilters_ico_reset {
  color: rgb(143, 61, 61);
}

.btnFilters_ico_exit {
  color: rgb(170, 170, 68);
}



/* MAIN BTN TAGS */

.btn_filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 30px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: black;
  
}


/* PROFILE IMAGE */

.profile_btn_up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  font-size: 30px;
}

.arrow-up-outline {
  color: rgba(255, 255, 255, 0.3);
}



/* GENERAL */

/* COMPONENTS */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: black;
  color: rgb(204, 204, 204);
  font-family: sans-serif;
}


.app {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  padding: 5px 0;
}


