.container_img {
  width: 100%;
  padding: 10px 10px;
}

.img_item {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
}
.container_filters {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 10;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.container_filters-text {
  margin: 5px 0 5px 0;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* ----- TAG CLOUD CONTAINER ----- */
.container_filters-fiters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* ----- TAG CLOUD ITEMS ----- */
.tag-item {
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 50px;
}

.clicked {
  background-color: #316A85;
  border: 1px solid #316A85;
}

.fiters_box {
  margin-top: 15px;
}

.open {
  display: block;
}



.btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50px;
  width: 120px;
}


.container_filters-buttons {
  text-align: center;
}


.btn-reset, .btn-close {
  display: block;
}

.btn-close {
  margin: 15px auto 25px auto;
}

.btn-reset {
  /* display: inline-block; */
  background-color: rgb(143, 61, 61);
  border: 1px solid rgb(143, 61, 61);
  margin: 15px auto;
}


.btn_filters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid antiquewhite;
  border-radius: 50%;
  font-size: 30px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  color: black;
  
}



.container_btnFilters {
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: black;
  color: rgb(204, 204, 204);
  font-family: sans-serif;
}


.app {
  max-width: 400px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  /* padding-top: 20px; */
}


